/*
CSS파일
파일 전체가 <style> 태그 내부라고 생각하면 됨
*/

/* 기본 속성 선택자*/
div[name="name-1"]{
  background-color: red;
}

p[name="name-1"]{
  background-color: greenyellow;
}

[name="name-2"]{
  background-color: aqua;
}

/* 자식 선택자 */
#parent-ul > li{
  background-color: orange;
}

#parent-ul > li > span {
  background-color: yellow;
}

#test-div p{background-color: bisque;}

/*반응 선택자*/
.div-cls{
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background-color: gray;

  /*아래쪽 요소와의 간격
  == 아래쪽 여백을 30px 지정*/
  margin-bottom: 30px;

  /*해당 요소에 마우스 커서가 올라가면 손가락 모양으로 변경*/
  cursor: pointer;
}

#active-test:active{
  background-color: yellow;
}

#hover-test:hover{
  background-color: pink;
  width: 230px;
  height: 230px;
}

#hover-test{
  /*
   #hover-test 요소가 변화를 일으키면 0.5초 동안 변해라

   transition : HTML 요소가 한 상태에서 다른 상태로
   변할 때의 변화를 부드럽게 만들어주는 애니메이션 효과
   점진적으로 몇초에 걸쳐 변화한다
  */
  transition-duration: 0.5s;
}

/*상태 선택자*/

#focus-test:focus{
  background-color: red;
}

input[name="fruits"]:checked{
  width: 30px;
  height: 30px;

  /*checked와 radio에는 크기 조절 외에는 적용되지 않는다*/
  background-color: red; /*실패함*/
}

#test-div2 > input:enabled{
  background-color: deeppink;
}

#test-div2 > input:disabled{
  background-color: black;
}

/*동위 선택자*/
#div1 + div{
  background-color: olive;
}

#div3 ~ div{
  background-color: blue;
  color: yellow;
}